/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*	border: 1px solid red;*/
}

/* Add font */
body {
	font-family: "Open Sans";
}

nav {
	padding: 0.5rem;
	border-bottom: 1px solid gray;
	background-color: white;
	position: sticky;
	top: 0px;
	z-index: 1;
}

nav .nav, nav .nav-logo, nav.tuitt-button {
	margin: 1rem;
	display: inline;
}

nav .nav-logo {
	margin-left: 8rem;
}

nav .right-nav {
	float: right;
	margin-right: 3rem;
	min-width: 60vw;
}

nav .tuitt-button, .apply-button {
	background-color: #c2195b;
	color: white; 
	font-weight: bold;
	font-size: 1rem;
	padding: .5rem;
	border-radius: 25px;
	border: none;
	width: 18%;
}

#bg-image {
	min-height: 50vh;
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 2rem; 
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;
}

.container {
	text-align: right;
	width: 40vw;
	position: absolute;
	top: 3rem;
	right: 6.5rem;
}

.title, .title-2 {
	font-family: "Zilla Slab";
}

.title {
	font-size: 2.3rem;
}

.title, .subtitle {
	color: white;
	padding-top: .5rem;
	margin-bottom: .5rem;
}

.subtitle {
	font-size: 18px;
	font-weight: normal;
	width: 70%;
	float: right;
}

.apply-button {
	width: 30%;
	margin: .75rem;
}

.intro {
	margin: 5rem;
	text-align: center;
}

.title-2, .intro-description {
	padding: 1rem;
	margin: 1rem;
}

.intro-description {
	text-align: left;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding-top: 2rem;
	height: 50vh;
}

.prefooter-description {
	width: 78%;
	margin: auto;
}

.book-button {
	background-color: #336589;
	color: white; 
	font-weight: bold;
	font-size: 1rem;
	padding: .5rem;
	margin: 1rem;
	width: 10%;
	border-radius: 25px;
	border: none;
}

footer {
	text-align: center;
}

/* END */