<!-- Solution A -->

<!-- https://www.w3schools.com/tags/att_input_maxlength.asp -->

<!-- The 'maxlength' attribute specifies the maximum number of characters allowed in the <input> element. -->

<input type="text" id="username" name="username" maxlength="15">



<!-- Solution B -->

<!-- https://www.w3schools.com/tags/att_img_alt.asp -->

<!-- Add 'alt' attribute, 'alt' attribute specifies an alternate text for an image, if the image cannot be displayed. -->

<img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">



<!-- Solution C -->

<!-- https://www.w3schools.com/tags/tag_code.asp -->

<!-- The <code> tag is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font. -->

<p>The HTML <code>button</code> tag defines a clickable button.</p>
